@use './app/carrito/components/producto-detalle/producto-detalle';
@use './app/catalogo/components/catalogo/catalogo';

* { box-sizing: border-box; }

html, body { min-height: 100%; margin: 0; }

body { background: #f2f1ed; }
